* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /*-------- Color scheme ---------*/
    /* Primary */
    --cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    /* Neutral */

    --black: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 48%);
    --light-gray: rgb(236, 236, 236);
}



body {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    background-color: rgb(235, 235, 235);
    color: var(--gray);
}

body.modal-on {
    overflow: hidden;

}

body h2, body h3, body h4 {
    color: black;
}

body a {
    text-decoration: none;
 
}


body p {
    color: var(--gray);
    line-height: 1.5em;
}


.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s ease-in;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    min-height: 50vh;
    background-image: url(../images/image-hero-mobile.jpg);
    background-position: center bottom;
    background-size: cover;
    position: relative;
    
}

.logo {
    min-width: 120px;
    max-height: 20px;
    cursor: pointer;
}


.burger {
    width: 18px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    
}


nav {
    display: none;
}


.mobile-nav {
    display: block;
    

}

.nav-menu {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white; 
    width: 90%;
    height: 70%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 50px 0px 100px 100px;
    z-index: 1;  
    
}




.nav-menu li {
    list-style: none;
    height: 33%;
    padding: 20px;
    display: flex;
    align-items: center;
}


.menu-line {
    border-top: double 0.5px rgb(236, 236, 236);
    border-bottom: double 0.5px rgb(236, 236, 236);
}


.nav-menu a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}


/*--------- Project Overview --------------*/

.container {
    position: relative;
    border: solid 1px rgb(236, 236, 236);
    border-radius: 10px;;
    background-color: white;
    padding: 40px 20px;
    width: 90%;
    margin: 0 auto;
}


.proj-overview {
    top: -75px;
    text-align: center;
}


.master-logo {
    position: relative;
    top: -70px;
}

.proj-overview h3 {
    font-size: 1.5em;
    position: relative;
    top: -50px;
    
}

.proj-overview p {
    position: relative;
    top: -25px;
    color: var(--gray);
    line-height: 1.5em;
}

.cyan-select {
    background-color: var(--cyan);
    width: 200px;
    max-width: 80%;
    
}

.option-buttons-box {
    display: flex;
    justify-content: space-around;
}

.bookmark-desktop-wrap {
    display: inline-block;
    width: 56px;
    height: 56px;
    position: relative;
    

}

.checkbox {
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: all;
    cursor: pointer;

}

.bookmark-btn {
    position: absolute;
    background-color: var(--light-gray);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    pointer-events: none;
    
}

.bookmark-btn::before {
    content: "";
    width: 56px;
    height: 56px;
    background-image: url('../images/icon-bookmark.svg');
    position: absolute;
    left: 0;

}

input:checked + .bookmark-btn::before {
    filter: invert();
}

.bookmark-icon {
    display: none;
}




.bookmarked {
    filter: invert(0.30);

}



.statistic {
    text-align: center;
    top: -40px;
}

.statistic-wrap {
    padding-bottom: 25px;
}


.statistic h2 {
    color: black;
    font-size: 2rem;
    padding-bottom: 10px;
    
}

.line {
    width: 70px;
    height: 2px;
    background-color: var(--light-gray);
    margin: 15px auto;
}



.progress-bar {
    background-color: rgb(235, 235, 235);
    /* height: 12px; */
    border-radius: 10px;
    position: relative;
    height: 12px;
    padding: 0;
    margin: 10px 0;

}

.progress {
    display: block;
    position: relative;
    height: 100%;
    width: 90%;
    background-color: var(--cyan);
    overflow: hidden;
    border-radius: 12px;
   
    
}

.about {
    margin-bottom: 5vh;
}

.about h3 {
    padding-bottom: 20px;
}

.about p {
    padding: 15px 0;
}


.proj-container {
    width: 100%;
    border: solid 1px rgb(218, 218, 218);
    border-radius: 10px;
    padding: 30px 20px;
    margin: 20px 0;
}

.proj-container h4 {
    padding-bottom: 10px;
}

.cyan-text {
    color: var(--cyan);
    /* padding: 10px 0; */
}

.reward-no {
    font-size: 2em;
    color: black;
    font-weight: 700;
    
}

.unavailable {
    opacity: 0.3;
    pointer-events: none;
}

.inactive {
    width: 200px;
    max-width: 80%;
    background-color: hsl(0, 0%, 48%);
}

/*------------- Pop-up modal section ---------------------*/



.pop-up-container {
    position: fixed;
    width: 90%;
    height: 85%;
    background: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    /* padding: 25px; */
    box-shadow: rgba(0, 0, 0, 0.3) 50px 0px 100px 100px;
    transition: transform 0.5s ease-in-out;
    /* display: none; */
}

.content-box {
    width: 100%;
    height: 90%;
    overflow: auto;
    padding: 10px 25px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
    
    
}

.overlay.overlay-active {
    opacity: 1;
    pointer-events: all;
    
}

/*-------Project modal-------*/

.project-modal {
    z-index: 2;

}

.project-modal.active {
    transform: translate(-50%,-50%) scale(1);

}


.close {
    font-size: 1.7em;
    color: var(--gray);
    position: absolute;
    right: 25px;
    top: 10px;
    font-weight: 700;
    cursor: pointer;
    z-index: 3;

}

.project-modal h4 {
    padding: 10px 0;

}

.project-modal p {
    padding: 10px 0;
}


.border {
    width: 100%;
    border: solid 1px rgb(218, 218, 218);
    border-radius: 10px;
    margin: 20px 0;
}

.border.highlight {
    border: solid 1px var(--cyan);

}

.proj-modal-container {
    width: 100%;
    padding: 20px;
    
}

.project-title-wrap {
    display: flex;
    align-items: center;
}

.project-label-wrap label {
    font-weight: 700;
    display: block;
    cursor: pointer;
    padding-left: 15px;
    padding-bottom: 5px;
    
}

.black-text {
    color: black;
}


.radio-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* margin-right: 10px; */
    width: 25px;
    height: 25px;
    
}

.radio-container > input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
}

.radio-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: white;
    border: solid 1px var(--light-gray);
    border-radius: 50%;

    
}


.radio-container input[type=radio]:checked ~ .radio-btn {
    background-color: white;

}

.radio-btn:after {
    content: "";
    position: absolute;
    display: none;

}


.radio-container input[type=radio]:checked ~ .radio-btn:after {
    display: block;
}

.radio-container .radio-btn:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--cyan);
    
}


.reward-no-small {
    font-size: 1.5em;
    color: black;
    font-weight: 700;
        
}



.pledge-container-top-line {
    border-top: solid 2px var(--light-gray);
    width: 100%;
    padding: 20px;
    display: none;
}

.pledge-container-top-line.active {
    display: block;
}

form {
    text-align: center;
    position: relative;

}

.email {
    border: solid 2px var(--light-gray);
    border-radius: 50px;
    max-width: 250px;
    width: 90%;
    height: 56px;
    padding: 15px 20px;
    font-size: 1rem;

}

.pledge-amount {
    display: inline-block; 
    position: relative;
}




.amount {
    border: solid 2px var(--light-gray);
    border-radius: 50px;
    height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 35px;
    font-size: 1rem;
    min-width: 10%;
    width: 100px;
    font-weight: 700;
    display: inline-block;
    margin: 5px;

}

.static-value {
    position: absolute;
    left: 22px;
    top: 22px;
    font-weight: 700;
    color: var(--gray);
}

input[type=number]:focus, input[type=email]:focus {
    outline: none;
    border: solid 2px var(--dark-cyan);
    
}

input[type=email]::placeholder {
    color: var(--light-gray);
}



input[type=submit] {
    border: none;
    font-family: 'Commissioner', sans-serif;
    font-size: 1rem;
    display: inline-block;
    margin: 5px;
    text-decoration: none;

    

}   

.cyan-continue {
    background-color: var(--cyan);
    width: 120px;
    
}

.cyan-select:hover, .cyan-continue:hover {
    background-color: var(--dark-cyan);
}


/*------Completed modal------*/

.success {
    position: fixed;
    width: 90%;
    height: auto;
    background: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    box-shadow: rgba(0, 0, 0, 0.3) 50px 0px 100px 100px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    padding: 25px;
    z-index: 10;
}

.success.activate {
    transform: translate(-50%,-50%) scale(1);
}

.success-close-btn {
    background-color: var(--cyan);
    width: 100px;
    

}

.success > * {
    margin: 15px 0;
}


@media screen and (min-width: 950px) {
    header {
        background-image: url(../images/image-hero-desktop.jpg);
        min-height: 50vh;
        padding: 5vh 20vh;
    }

    .burger {
        display: none;
    }

    nav {
        display: flex;
        position: relative;
        width: 40%;
    }

    

    .nav-menu {
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 100%;
        white-space: nowrap;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background: none; 
        border: none;
        box-shadow: none;
        /* z-index: 1;   */
    }

    .nav-menu li {
        list-style: none;
        height: 33%;
        padding: 0 20px;
        display: flex;
        align-items: flex-start;
    }
    
    .nav-menu a {
        color: white;
    }
    

    .menu-line {
        border: none;
    }


    .container {
        width: 55%;
        padding: 40px;
    }

    .statistic-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .statistic p {
        width: 30%;
    }

    .statistic .line {
        transform: rotate(-90deg);
        
    }

    .option-buttons-box {
        display: flex;
        justify-content: space-between;
    }

    .bookmark-desktop-wrap {
        display: inline-block;
        height: 56px;
        width: 170px;
        border-radius: 50px;
        position: relative;
        font-size: 0.8em;
        color: var(--gray)

    
    }

    .checkbox {
        width: 100%;
        height: 100%;
        pointer-events: all;
        cursor: pointer;


    }

    

    .bookmark-btn {
        background-color: var(--light-gray);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        border-radius: 50px;
        transition: background-color 0.5s ease-in;
        /* width: 56px;
        height: 56px; */
        pointer-events: none;
    }

    .bookmark-icon {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 56px;
        height: 56px;
        display: none;
    }

    .bookmark-btn::before {
        content: "";
        background-image: url(../images/icon-bookmark.svg);
        height: 56px;
        width: 56px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        transition: transform 1s ease;
    }

    .bookmark-btn::after {
        content: "Bookmark";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--gray);
        font-weight: 500;
    }



    input:checked + .bookmark-btn {
        background-color: var(--gray);
    }

   

    input:checked + .bookmark-btn::before {
        transform: translateX(114px);
        filter: invert();
    }

    input:checked + .bookmark-btn::after {
        content: "Bookmarked";
        left: 15%;
        color: var(--light-gray);
    }

    .proj-modal-container {
        position: relative;
    }


    .project-title-wrap-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .select-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .content-box {
        padding: 10px 50px;
    }

    .project-modal {
        width: 55%;
        
    }

    .project-label-wrap {
        display: flex;
    }

    .proj-modal-container p {
        position: relative;
        left: 39px;
        width: 90%;
        margin: 0;
    }

    .pledge-no-wrap {
        position: absolute;
        right: 20px;
        top: 17px;
    }

    .pledge-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .success {
        width: 35%;
    }



} 